[submodule "backend/my-service-1"]
	path = backend/my-service-1
	url = https://github.com/shegga9x/f4-service1
[submodule "frontend"]
	path = frontend
	url = https://github.com/shegga9x/f4-frontend
[submodule "backend/api-gateway"]
	path = backend/api-gateway
	url = https://github.com/shegga9x/f4-api-gateway
[submodule "backend/my-service-2"]
	path = backend/my-service-2
	url = https://github.com/shegga9x/f4-api-gateway	
[submodule "backend/ms-comment"]
	path = backend/ms-comment
	url = https://github.com/shegga9x/f4-api-gateway
[submodule "backend/ms-post"]
	path = backend/ms-post
	url = https://github.com/shegga9x/f4-api-gateway

