[submodule "microfrontends"]
	path = microfrontends
	url = https://github.com/minhhiennn/microfrontends
[submodule "backend/api-gateway"]
	path = backend/api-gateway
	url = https://github.com/shegga9x/f4-api-gateway
[submodule "backend/ms-media"]
	path = backend/ms-media
	url = https://github.com/tranmanhtuong123/f4-ms-media.git
[submodule "infra/vps-config"]
	path = infra/vps-config
	url = https://github.com/shegga9x/f4-vps-configuration
